QUESTIONS

1. What are data structures, and why are they important?
- It is a way of organising and storing data so that it can be accessed and manipulated.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data means the data can be changed after it is created. for eaxample list.
Immutable data means the data cannot be changed after it is created. for eaxample string,tuple.

3. What are the main differences between lists and tuples in Python?
- Lists are mutable data type whereas tuples are immutable data type in python.

4. Describe how dictionaries store data.
- Elements are not stored in a specific order.
Unique key-value pairs: Each key acts as a unique identifier for retrieving an associated value.
Flexible data: Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

5. Why might you use a set instead of a list in Python?
- We may use set instead of list when we want to store unique data and do perpform set oeration like union, intersection.

6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters to represent and manipulate textual data whereas list can store all the types of data types and are completely mutable.

7. How do tuples ensure data integrity in Python?
- A tuple in Python helps ensure data integrity due to its immutability, meaning its elements cannot be changed, added, or removed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table (also called a hash map) is a data structure that stores key-value pairs and allows fast lookups, insertions, and deletions using a hash function. dictionaries also have key-value pair.

9. Can lists contain different data types in Python?
- Yes, lists can contain different data types in python.

10. Explain why strings are immutable in Python.
- Strings in Python are immutable, meaning once a string is created, it cannot be modified. Any operation that seems to modify a string will instead create a new string.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide efficient, fast access to data via keys, making them ideal for scenarios that require quick lookups, mappings, and key-value pairs. Lists are better suited for ordered collections or situations where indexing and duplicates are required.

12. Describe a scenario where using a tuple would be preferable over a list.
- Imagine we're developing a mapping or geolocation application where we need to store coordinates (latitude and longitude) for various locations. These coordinates should never change once they're set, as modifying the data could lead to inaccuracies in our application.

13. How do sets handle duplicate values in Python?
- sets do not allow repeatition or duplicate values. It only take once.

14. How does the “in” keyword work differently for lists and dictionaries?
- In a list, in checks if the value exists. In a dictionary, in checks if the key exists.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple after it has been created. This is because tuples are immutable in Python, meaning that once a tuple is created, its contents cannot be changed, added to, or removed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value of one or more keys is itself another dictionary. In other words, it is a dictionary within a dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
- In Python, dictionaries are implemented using hash tables, which allow for efficient lookups. The time complexity of accessing elements in a dictionary depends on the operation being performed.

18. In what situations are lists preferred over dictionaries?
- Use lists when we're dealing with ordered collections that may need indexing, and where the values themselves are important (not necessarily associated with unique keys).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in Python are considered unordered because their primary functionality is based on hashing keys rather than maintaining a sequence.
Data retrieval in dictionaries is fast (O(1) on average) but depends on the key, not the order of insertion.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists are suited for ordered collections where you access elements by index or need to maintain duplicates. Their O(1) access time is great for indexing, but searching for a value is O(n). whereas Dictionaries are ideal for fast lookups by key, offering O(1) time complexity for both access and search. They do not maintain order (except in Python 3.7+), and you cannot have duplicate keys.

In [ ]:
#1.Write a code to create a string with your name and print it

str = "priya"
print("my name is", str)

my name is priya

In [ ]:
#2. Write a code to find the length of the string "Hello World"

a = "Hello World"
len(a)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

str = "Python Programming"
str[0:3]

'Pyt'

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

str = "hello"
str.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple'.

str = "I like apple"
str.replace("apple", "orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [14]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [15]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lis = [1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [16]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lis = ['a','b','c','d']
lis[1]

'b'

In [17]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

lis = [10,20,30,40,50]
lis[ : :-1]

[50, 40, 30, 20, 10]

In [18]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100,200,300)
t

(100, 200, 300)

In [21]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red','greem','blue','yellow')
t[-2]

'blue'

In [22]:
#13. . Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10,20,5,15)
min(t)

5

In [23]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog','cat','rabbit')
t.index('cat')

1

In [26]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('orange','apple','kiwi')
if 'kiwi' in fruits:
  print("kiwi")
else:
  print ("kiwi is not in fruits")

kiwi

In [27]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a','b','c'}
s

{'a', 'b', 'c'}

In [29]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {'a','b','c'}
s.clear()
s

set()

In [30]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [31]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1,2,3}
s2 = {4,5,6}
s1|s2

{1, 2, 3, 4, 5, 6}

In [34]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1 = {1,2,3}
s2 = {2,3,4}
s1&s2

{2, 3}

In [35]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d = {"name":"priya","age":27,"city":"ranchi"}
d

{'name': 'priya', 'age': 27, 'city': 'ranchi'}

In [37]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {"name": "John", "age": 25}
d["Country"] = "USA"
d

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [38]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [42]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')

22

In [46]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {'name': 'Alice', 'city': 'Paris'}
if "city" in d:
  print("key city exists in the dictionary")
else:
  print("key city doesn't exists in the dictionary")

key city exists in the dictionary

In [47]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lis = [1,2,3,'hello']
print('my list is', lis)

t = (1,2,3,'hello world')
print('my tuple is', t)

d = {"fruit":"apple","animal":"dog"}
print("my dictionary is", d)

my list is [1, 2, 3, 'hello']
my tuple is (1, 2, 3, 'hello world')
my dictionary is {'fruit': 'apple', 'animal': 'dog'}

In [52]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

nums = [1,69,5,99,98]
nums.sort()
print(nums)

[1, 5, 69, 98, 99]

In [53]:
#28.  Write a code to create a list with strings and print the element at the third index.

lis = ["priya","teacher","DS","pwskills"]
lis[2]

'DS'

In [55]:
#29. Write a code to combine two dictionaries into one and print the result.

d1 = {"fruit":"apple","animal":"dog"}
d2 = {'name': 'Alice', 'city': 'Paris'}
d1.update(d2)
print(d1)

{'fruit': 'apple', 'animal': 'dog', 'name': 'Alice', 'city': 'Paris'}

In [57]:
#30.  Write a code to convert a list of strings into a set.

string_lis = ["priya","teacher","DS","pwskills","priya","DS","priya"]
string_set = set(string_lis)
print(string_set)

{'priya', 'pwskills', 'teacher', 'DS'}